/* Dark mode colors. */
:root {
	--sl-color-accent-low: #0c2c00;
	--sl-color-accent: #317e00;
	--sl-color-accent-high: #acd79e;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
	--sl-content-width: 55rem;
}
/* Light mode colors. */
:root[data-theme="light"] {
	--sl-color-accent-low: #c2e2b7;
	--sl-color-accent: #328000;
	--sl-color-accent-high: #143d00;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}
